[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurobipy = "*"
python-decouple = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
cache-pandas = "*"
pandas = "*"
pandera = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
